<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vende Tudo Virtual{% endblock %}</title>
    {% load static %}
    <title>My store virtual</title>
</head>
<body>
    {% block content %}
    <header>

        <h1></h1>
        <nav>
        <a href=" store.urls "></a>
         <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
        </nav>
    </header>
  <main>
    <section>

</div>

  <div class="flex ...">
  <div class="flex-1 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"></div>
  <div class="contents">
    <div class="flex-1 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"></div>
    <div class="flex-1 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"></div>
    <div class="flex-1 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"></div>
    <div class="flex-1 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"></div>
  </div>
  <div class="flex-1 box-decoration-slice bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2"></div>
</div>

  <div class="img text-center">
  <div class="card" style="background-color: #e3f2fd;">
  <div class="card-header">
    My Store Virtual
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Navegue na nossa loja e encontre os melhores produtos para você e sua família</p>
      <footer class="blockquote-footer">Frete gratis para todo o Brasil <cite title=""></cite></footer>
    </blockquote>
  </div>
</div>
</div>

<hr>

  <nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     Categoria
      </a>
     <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
     <li><a class="dropdown-item" href="#">Moda femenina</a></li>
     <li><a class="dropdown-item" href="#">Moda masculina</a></li>
     <li><a class="dropdown-item" href="#">Moda infantil e brinquedos</a></li>
     <li><a class="dropdown-item" href="#">Eletronicos</a></li>
     <li><a class="dropdown-item" href="#">Casa</a></li>
     <li><a class="dropdown-item" href="#">Acessórios masculino e femenina</a></li>
     <li><a class="dropdown-item" href="#">Saude e beleza</a></li>
     <li><a class="dropdown-item" href="#">Lazer e entretenimentos</a></li>
     <li><hr class="dropdown-divider"></li>
     </ul>

    <a class="nav-link active" aria-current="page" href="#" >Minha conta</a>
    <a class="nav-link active" aria-current="page" href="#">Meus pedidos</a>
    <a class="nav-link active" aria-current="page" href="#">Lista de desejos</a>
    <a class="nav-link active" aria-current="page" href="#">Central de ajuda</a>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<hr>




 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel ">
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img src="{% static 'image/brin2.jpg' %}" class="d-block w-50 mx-auto" alt="...">
        <div class="carousel-caption d-none d-md-block w-50 mx-auto">
        <h3>Aproveite nossas promocões</h3>
        <p>"Adicione estilo e elegância ao seu guarda-roupa com nossa coleção de acessórios masculinos e femininos. Desde lenços e gravatas até joias e bolsas, temos tudo o que você precisa para complementar o seu visual com sofisticação e classe." .</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/brin2.jpg' %}" class="d-block w-50 mx-auto" alt="...">
       <div class="carousel-caption d-none d-md-block w-50 mx-auto">
        <h3>Aproveite nossas promocões</h3>
        <p>"Mantenha-se saudável e radiante com nossa linha de produtos de beleza e saúde. Com ingredientes naturais e orgânicos, nossos produtos de cuidados pessoais ajudam a nutrir e proteger sua pele, cabelo e corpo."</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/brin2.jpg' %}" class="d-block w-50 mx-auto" alt="...">
       <div class="carousel-caption d-none d-md-block w-50 mx-auto">
        <h3>Aproveite nossas promocões</h3>
        <p>"Explore o mundo da tecnologia com nossa seleção de eletrônicos de última geração. Desde smartphones e laptops até televisores e sistemas de som, temos tudo o que você precisa para manter-se conectado e atualizado."</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev  {position: absolute; top: 50%; transform: translateY(-50%); width: 3%; height: auto; font-size: 4rem; color: white; w-50 mx-auto"} type="button " data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next  {position: absolute; top: 50%; transform: translateY(-50%); width: 3%; height: auto; font-size: 4rem; color: white w-50 mx-auto"} type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


      <hr>

         <div class="img text-center">
         <p class="text-info bg-dark">Roupas femininas</p>
         <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Mostre seu estilo pessoal e confiança com nossa coleção de roupas femininas!
          Nós oferecemos uma ampla variedade de opções elegantes e confortáveis, desde roupas de trabalho até roupas casuais.
          Feitas com tecidos de qualidade e designs exclusivos, nossas roupas são perfeitas para você, mulher moderna."</h5>
         </div>
      <hr>
    <div class="img text-center">
    <div style="display: inline-block;">
      <img src="{% static 'image/casa1.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/casa1.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/casa1.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 159,00</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/casa1.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 110,00</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/casa1.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 179,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/casa1.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/casa1.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    </div>
      <hr>
          <div class="img text-center">
         <p class="text-info bg-dark">Roupas masculinas</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Adicione um toque de elegância e conforto ao seu guarda-roupa!
              Nossa coleção de roupas masculinas oferece uma variedade de estilos para o homem moderno.
              Do casual ao formal, nossas roupas são perfeitas para qualquer ocasião.
              Experimente agora e sinta a diferença em seu estilo pessoal." "</h5>
         </div>
     <hr>
    <div class="img text-center">
    <div style="display: inline-block;">
      <img src="{% static 'image/roupam1.jpg' %}" class="md:animate-pulse"  alt="Imagem 1" width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupam2.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 149,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupam3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 72,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupam44.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 99,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupam5.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 69,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
        <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    </div>
      <hr>

        <div class="img text-center">
         <p class="text-info bg-dark">Roupas infantis</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Vista seu pequeno com estilo e conforto!
              Nossa coleção de roupas infantis oferece opções adoráveis e funcionais para meninos e meninas.
              Com tecidos de alta qualidade e designs divertidos, nossas roupas são perfeitas para acompanhar
              seus pequenos enquanto eles exploram o mundo." "</h5>
         </div>
     <hr>

     <div class="img text-center">
      <div style="display: inline-block;">
      <img src="{% static 'image/roupain1.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupai2.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 29,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupai3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupai4.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupai55.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 68,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
        <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
     </div>
    <hr>
      <div class="img text-center">
         <p class="text-info bg-dark">Brinquedos</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Deixe a imaginação do seu filho voar com nossa coleção de brinquedos!
              Nós oferecemos uma ampla variedade de brinquedos que vão desde jogos educativos até brinquedos divertidos.
              Com materiais seguros e duráveis, nossos brinquedos são perfeitos para crianças de todas as idades. Dê o presente da diversão agora!"</h5>
         </div>
     <hr>
      <div class="img text-center">
      <div style="display: inline-block;">
      <img src="{% static 'image/brin1.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 38,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/brin2.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 75,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/brin3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 45,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/brin4.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 49,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/brin5.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 56,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
        <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    </div>

     <hr>
            <div class="img text-center">
         <p class="text-info bg-dark">Acessórios Masculinos e Femininos</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Seja para homens ou mulheres, temos uma ampla seleção de acessórios para completar o seu look.
              De óculos de sol a bolsas, temos tudo o que você precisa para se destacar. "</h5>
         </div>
     <hr>

     <div class="img text-center">
    <div style="display: inline-block;">
      <img src="{% static 'image/aces11.jpg' %}" class="md:animate-pulse"  alt="Imagem 1" width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/aces2.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 189,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces4.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 46,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces5.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
     </div>
                <hr>
      <div class="img text-center">
         <p class="text-info bg-dark">Saúde e Beleza</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>" Invista em sua saúde e beleza com nossos produtos de alta qualidade.
              De cuidados com a pele a suplementos, temos tudo o que você precisa para se sentir bem e parecer ainda melhor."</h5>
         </div>
     <hr>

     <div class="img text-center">
    <div style="display: inline-block;">
      <img src="{% static 'image/aces11.jpg' %}" class="md:animate-pulse"  alt="Imagem 1" width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/aces2.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 189,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces4.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 46,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces5.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
     </div>
        <hr>
            <div class="img text-center">
         <p class="text-info bg-dark">Eletrônicos</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Esteja você procurando o mais recente smartphone ou um novo notebook,
              temos uma ampla seleção de eletrônicos para atender às suas necessidades.
              Deixe a tecnologia ajudá-lo a simplificar a sua vida. "</h5>
         </div>
     <hr>

     <div class="img text-center">
    <div style="display: inline-block;">
      <img src="{% static 'image/aces11.jpg' %}" class="md:animate-pulse"  alt="Imagem 1" width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/aces2.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 189,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces4.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 46,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces5.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
     </div>

        <hr>

          <div class="img text-center">
         <p class="text-info bg-dark">Casa</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Deixe a sua casa ainda mais bonita e confortável com nossos produtos para casa.
              Desde móveis até decorações, temos tudo o que você precisa para criar um ambiente acolhedor. "</h5>
         </div>
     <hr>

     <div class="img text-center">
    <div style="display: inline-block;">
      <img src="{% static 'image/aces11.jpg' %}" class="md:animate-pulse"  alt="Imagem 1" width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/aces2.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 189,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces4.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 46,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces5.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
     </div>
        <hr>
         <div class="img text-center">
         <p class="text-info bg-dark">Lazer e Entretenimento</p>
          <div class="shadow-none p-3 mb-5 bg-light rounded"> <h5>"Descubra novas maneiras de se divertir e relaxar com nossa seleção de produtos de lazer e entretenimento.
              De jogos de tabuleiro a equipamentos esportivos, temos tudo o que você precisa para desfrutar do seu tempo livre. Encontre o próximo livro perfeito para ler em sua tarde de lazer.
              Temos uma ampla seleção de best-sellers, livros de romance, mistério e muito mais. Deixe-se envolver em uma boa história e relaxe com nossos livros. "</h5>
         </div>
     <hr>

     <div class="img text-center">
    <div style="display: inline-block;">
      <img src="{% static 'image/aces11.jpg' %}" class="md:animate-pulse"  alt="Imagem 1" width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/aces2.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 189,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces3.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces4.jpg' %}" class="md:animate-pulse" alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 46,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/aces5.jpg' %}" class="md:animate-pulse"  alt="Imagem 2" width="200">
      <p></p>
      <p>R$ 59,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
      <div style="display: inline-block;">
      <img src="{% static 'image/roupaf11.jpg' %}" class="md:animate-pulse" alt="..." width="200">
      <p></p>
      <p>R$ 79,99</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
    <div style="display: inline-block;">
      <img src="{% static 'image/roupaf22.jpg' %}" class="md:animate-pulse" alt="imagem-pulando" width="200">
      <p></p>
      <p>R$ 89,90</p>
      <a href="#" class="btn btn-info">Clique aqui</a>
    </div>
     </div>

    <hr>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.tailwindcss.com"></script>
    </section>
   </di>

  </main>
  <div class="img text-center">
  <footer>

  <div class="img text-center">
  <div class="card" style="background-color: #e3f2fd;">
  <div class="card-header">
    My Store Virtual
  </div>
      <a class="nav-link active" aria-current="page" href="#" >Informacões</a>
      <a class="nav-link active" aria-current="page" href="#" >Envios nacionais e internacionais</a>
      <a class="nav-link active" aria-current="page" href="#" >Atendimento ao cliente</a>
      <a class="nav-link active" aria-current="page" href="#" >Quem somos</a>
      <a class="nav-link active" aria-current="page" href="#" >Atendimento ao cliente</a>
      <p> </p>
      <footer class="blockquote-footer"> "Explore uma variedade de produtos exclusivos e encontre tudo o que você precisa para sua vida diária com nosso ecommerce."<cite title="Source Title"></cite></footer>
      <blockquote class="blockquote mb-0">
      </blockquote>
    <div class="card-body">

         <p>&copy; 2023 My store virtual</p>
  </div>
</div>
</div>

  </footer>
  </div>
  {% endblock %}
</body>
</html>
